<!DOCTYPE html>
<html lang="en">
{{include 'admin/public/head.html'}}


<body>
	{{include 'admin/public/nav_top.html'}}

	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {}
		</script>

		<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>

			<div class="sidebar" id="sidebar">
				<script type="text/javascript">
					try {
						ace.settings.check('sidebar', 'fixed')
					} catch (e) {}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="icon-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="icon-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="icon-group"></i>
						</button>

						<button class="btn btn-danger">
							<i class="icon-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- #sidebar-shortcuts -->
				{{include 'admin/public/nav_left.html'}}

				<!-- /.nav-list -->

				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
						data-icon2="icon-double-angle-right"></i>
				</div>

				<script type="text/javascript">
					try {
						ace.settings.check('sidebar', 'collapsed')
					} catch (e) {}
				</script>
			</div>

			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try {
							ace.settings.check('breadcrumbs', 'fixed')
						} catch (e) {}
					</script>

					<ul class="breadcrumb">
						<li>
							<i class="icon-home home-icon"></i>
							<a href="#">首页</a>
						</li>
						<li class="active">控制台</li>
					</ul><!-- .breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input"
									id="nav-search-input" autocomplete="off" />
								<i class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div><!-- #nav-search -->
				</div>

				<div class="page-content">

					<div class="page-header">
						<h1>
							系统设置
						</h1>
					</div><!-- /.page-header -->

					<form class="form-horizontal" role="form" id="addFrendLinkForm" method="POST" enctype="multipart/form-data"
						action="{{__HOST__}}/admin/system/doEdit">
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="title">标题:</label>
							<div class="col-sm-10">
								<input type="text" class="col-xs-10 col-sm-5" id="title" name="title" value="{{@current.title}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="keywords">关键词:</label>
							<div class="col-sm-10">
								<input type="text" class="col-xs-10 col-sm-5" id="keywords" name="keywords" value="{{@current.keywords}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="description">描述:</label>
							<div class="col-sm-10">
								<input type="text" class="col-xs-10 col-sm-5" id="description" name="description" value="{{@current.description}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="address">公司地址:</label>
							<div class="col-sm-10">
								<input type="text" class="col-xs-10 col-sm-5" id="address" name="address" value="{{@current.address}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="phone">公司电话:</label>
							<div class="col-sm-10">
								<input type="text" class="col-xs-10 col-sm-5" id="phone" name="phone" value="{{@current.phone}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="ipc">备案信息:</label>
							<div class="col-sm-10">
								<input type="text" class="col-xs-10 col-sm-5" id="ipc" name="ipc" value="{{@current.ipc}}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="logo">logo上传:</label>
							<div class="col-sm-10">
								<input type="file" class="col-xs-10 col-sm-5" id="logo" name="logo">
							</div>
							<div><img style="width: 100px;" src="{{__HOST__}}/upload/images/{{@current.filename}}" ></div>
						</div>
						<input type="hidden" name="id" value="{{@current._id}}">
						<div style="text-align: center;"> <button type="submit" class="btn-info">提交</button></div>
					</form>
				</div>
			</div><!-- /.main-content -->

		</div><!-- /.main-container-inner -->

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->

	{{include 'admin/public/footer.html'}}

	<script>
		$("#addFrendLinkForm").submit(function () {
			if ($('#linkName').val() === '' || $('#url').val() === '') {
				alert('链接名称和链接地址不能为空')
				return false
			}
		})
	</script>

</body>

</html>